* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #131313;
    height: 80px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1700px;
    /* justify-content: center; */
    /* align-items: stretch; */
    align-items: center;
    font-size: 1.2 rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* gap: 2rem; */
    margin: 0 auto;
    padding: 0 50px;
  }
  
  .mind-benders {
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    height: 100%;
    justify-content: center;
    width: 150px;
    display: flex;
    align-items: center;
    padding: .25rem;
  }

  .menu a{
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    color: hsl(345, 56%, 46%);
    transition: all 0.3s ease;
  }
  
  